/** General **/
body {
  font-size: 87.5%;
  margin-left: 1em;
  max-width: 50em;
}

.author, .message {
  white-space: pre;
  font-family: monospace;
}

.passing, .failing {
  font-weight: bold;
}

.passing {
  color: green;
}

.failing {
  color: red;
}

/** Revision list **/
dl dt {
  margin-top: 1em;
}

/** Paginator **/
#paginator li {
  display: inline;
  list-style-type: none;
  padding-right: .1em;
}

#paginator a:hover {
  text-decoration: none;
}

#paginator .current {
  font-weight: bold;
  font-size: 1.2em
}

#testfiles li {
  list-style-type: none;
}

.tests, .assertions {
  margin-bottom: 0.5em;
  margin-right: 0;
}

ul.tests {
  margin-left: 0.5em;
}

ul.assertions {
  margin-left: 2em;
}

.lineno {
  font-family: monospace;
}

#testfiles .assertions li {
  list-style-type: decimal;
}

.test, .testfile {
  font-family: Verdana;
  font-size: 0.83em;
}

.testfile {
  font-weight: bold;
  color: #222;
}

.test {
  color: #111;
}

.assertion {
  color: #333;
  font-family: serif;
}

.new, .broke {
  background-color: #d94929;
  -moz-border-radius: 10px; /* Oh yeah. */
}

.new .assertion, .broke .assertion {
  color: #222;
}

.tests li {
  padding-left: 1em;
}
