/** General **/
body {
  font-size: 87.5%;
  margin-left: 1em;
}

.author, .message {
  white-space: pre;
  font-family: monospace;
}

.passing, .failing {
  font-weight: bold;
}

.passing {
  color: green;
}

.failing {
  color: red;
}

/** Revision list **/
dl dt {
  margin-top: 1em;
}

/** Paginator **/
#paginator li {
  display: inline;
  list-style-type: none;
  padding-right: .1em;
}

#paginator a:hover {
  text-decoration: none;
}

#paginator .current {
  font-weight: bold;
  font-size: 1.2em
}

#testfiles li {
  list-style-type: none;
}

.tests, .assertions {
  margin-bottom: 0.5em;
}

.tests {
  margin-left: 0.5em;
}

.assertions {
  margin-left: 2em;
}

.lineno {
  font-family: monospace;
}

#testfiles .assertions li {
  list-style-type: decimal;
}

.testfile {
  font-weight: bold;
  color: #222;
}

.test {
  color: #111;
}

.test, .testfile {
  font-family: Verdana;
  font-size: 0.83em;
}

.assertion {
  color: #333;
  font-family: serif;
}
