body {
  font-size: 87.5%;
  margin-left: 1em;
}

.author, .message {
  white-space: pre;
  font-family: monospace;
}

.passing, .failing {
  font-weight: bold;
}

.passing {
  color: green;
}

.failing {
  color: red;
}

dl dt {
  margin-top: 1em;
}

#paginator li {
  display: inline;
  list-style-type: none;
  padding-right: .1em;
}

#paginator a:hover {
  text-decoration: none;
}

#paginator .current {
  font-weight: bold;
  font-size: 1.2em
}
