{% extends "base.html" %}

{% block title %}Results for r{{ revision.svn_id  }}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('media', file='style.css') }}">
{% endblock %}

{% block content %}
  <h1>r{{ revision.svn_id  }}</h1>
  <h2>{{ revision.author  }}</h2>
  <h3>{{ revision.date  }}</h3>
  <p class="message">{{ revision.message }}</p>
  <p id="stats">
    {% set stats = revision.assertion_stats() %}
    {{ stats['total'] }} tests:
    <span class="passing">+{{ stats['passes'] }}</span>
    <span class="failing">-{{ stats['fails'] }}</span>
  </p>
  <h4>Failing Tests</h4>
  <ul id="testfiles">
    {% for testfile, fail_count in failing %}
      <li>
        <span class="testfile">{{ testfile.name }}</span>
        (<span class="failing">{{ fail_count }}</span>)
        <ul class="tests">
          {% for test in testfile.tests.failing() %}
            <li>
              <span class="test">{{ test.name }}</span>
              <ul class="assertions">
                {% for fail in test.assertions.failing() %}
                  <li class="assertion">{{ fail.text|e }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <h4>Broken Tests</h4>
  <ul id="broken">
    {% for testfile in broken %}
      <li>{{ testfile.name  }}</li>
    {% endfor %}
  </ul>

{% endblock %}
