{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('media', file='style.css') }}">
{% endblock %}


{% block title %}Ghetto Buildbot{% endblock %}

{% block content %}
  <dl>
    {% for revision in revisions %}
      {% set stats = revision.assertion_stats() %}
      <dt>
        <a href="{{ url_for('revision_detail', rev=revision.svn_id) }}">
          {{ revision.svn_id }}
        </a>
        ({{ revision.git_id[:8] }})
      </dt>
      <dd class="author">{{ revision.author }}</dd>
      <dd class="message">{{ revision.message }}</dd>
      <dd>
        <span class="total">{{ stats['total'] }} tests:</span>
        <span class="passing">+{{ stats['passes'] }}</span>
        <span class="failing">-{{ stats['fails'] }}</span>
      </dd>
      <dd class="files">
        {{ stats['failing'] }} failing test files,
        {{ stats['broken'] }} broken.
      </dd>
    {% endfor %}
  </dl>
{% endblock %}
