{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('media', file='style.css') }}">
{% endblock %}


{% block title %}Ghetto Buildbot{% endblock %}

{% block content %}
  <dl>
    {% for revision in page.objects %}
      {% set stats = revision.assertion_stats() %}
      <dt>
        <a href="{{ url_for('revision_detail', rev=revision.svn_id) }}">
          {{ revision.svn_id }}
        </a>
        ({{ revision.git_id[:8] }})
      </dt>
      <dd class="author">{{ revision.author }}</dd>
      <dd class="message">{{ revision.message }}</dd>
      <dd>
        <span class="total">{{ stats['total'] }} tests:</span>
        <span class="passing">+{{ stats['passes'] }}</span>
        <span class="failing">-{{ stats['fails'] }}</span>
      </dd>
      <dd class="files">
        {{ stats['failing'] }} failing test files,
        {{ stats['broken'] }} broken.
      </dd>
    {% endfor %}
  </dl>

  <ul class="paginator">
    {% if page.has_prev %}
      <li id="previous-page">
        <a href="{{ url_for('revision_list', page=page.prev) }}">Previous</a>
      </li>
    {% endif %}

    {% for page_num in page.paginator.range %}
      {% if page_num == page.num %}
        <li class="current">
          <span>{{ page_num }}</span>
        </li>
      {% else %}
        <li>
          <a href="{{ url_for('revision_list', page=page_num) }}">{{ page_num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page.has_next %}
      <li id="next-page">
        <a href="{{ url_for('revision_list', page=page.next) }}">Next</a>
      </li>
    {% endif %}
  </ul>

{% endblock %}
