{% extends "base.html" %}

{% block title %}Results for r{{ revision.svn_id }}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('media', file='style.css') }}">
{% endblock %}

{% block content %}
  <h1>r{{ revision.svn_id }}</h1>
  <h2>{{ revision.author }}</h2>
  <h3>{{ revision.date }}</h3>
  <p class="message">{{ revision.message|e }}</p>
  <p id="stats">
    {% set stats = revision.assertion_stats() %}
    {{ stats['total'] }} tests:
    <span class="passing">+{{ stats['passes'] }}</span>
    <span class="failing">-{{ stats['fails'] }}</span>
  </p>
  <h4>Failing Tests</h4>
  <ul id="testfiles">
    {% for testfile, fail_count in failing %}
      <li>
        <a class="testfile" href="{{ testfile.target_url }}">
          {{ testfile.name }}
        </a>
        (<span class="failing">{{ fail_count }}</span>)
        <ul class="tests">
          {% for (test_name, assertions) in failures[testfile.id] %}
            <li class="{{ diff.category(test_name) }}">
              <span class="test">{{ test_name }}</span>
              <ul class="assertions">
                {% for fail in assertions %}
                  <li class="assertion">
                    {{ fail.text|e|perlsub('at \[/home/jbalogh.* (line \d+)\]',
                                           '<span class="lineno">($1)</span>') }}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <h4>Broken Tests</h4>
  <ul id="broken">
    {% for b in broken %}
      <li>
        <a class="testfile" href="{{ testfile.target_url }}">
          {{ testfile.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
